<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702955082327-v1l0lequf8e3lf8erhotfn0lbb5rfo6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702955082327-v1l0lequf8e3lf8erhotfn0lbb5rfo6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAG-S7eBPYkSknnGhr1cH21SajxwJU7e04</string>
	<key>GCM_SENDER_ID</key>
	<string>702955082327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelion.ToucheFinal</string>
	<key>PROJECT_ID</key>
	<string>touchefinal-231b4</string>
	<key>STORAGE_BUCKET</key>
	<string>touchefinal-231b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702955082327:ios:bb40fdaf76a32f0f17c912</string>
</dict>
</plist>