<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Camera permissions for taking photos and videos</string>
	<key>NSCameraUsageDescription</key>
	<string>Album permissions to save videos</string>
	<key>UIAppFonts</key>
	<array/>
</dict>
</plist>
